<footer class="footer">
    <div class="svg-wrapper inner_insurance_page_footer">
        <svg version="1.1" id="Layer_1" class="footer-top" x="0px" y="0px" width="1920px" height="58.223px" viewBox="0 0 1920 58.223" enable-background="new 0 0 1920 58.223" xml:space="preserve"><path fill="#1b1e4c" d="M1920,233.223H0C0,233.223,1600.488,364.223,1920,233.223z"/><path fill="#1b1e4c" d="M0,58.223h1920C1920,58.223,319.512-72.777,0,58.223z"/></svg>
    </div>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-column">
                        <h3>Why Defy?</h3>
                        <ul class="footer-list">
                            <li><a href="/why-defy">Why Defy?</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="/blogs">Blogs</a></li>
                            <li><a href="/affiliate-partners">Partnership</a></li>
                            <li><a href="/careers">Careers</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms-of-use">Terms of Use</a></li>
                            <li><a href="/copy-right">Copyright Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-column">
                        <h3>Business</h3>
                        <ul class="footer-list">
                            <li><a href="/get_business_nsurance">Business Insurance</a></li>
                            <li><a href="/get_commercial_nsurance">Commercial Auto</a></li>
                            <li><a href="/get_general_liability_nsurance">General Liability</a></li>
                            <li><a href="/get_cyber_nsurance">Cyber</a></li>
                            <li><a href="/get_medical_nsurance">Medical Malpractice</a></li>
                            <li><a href="/get_professional_liability_nsurance">Professional Liability</a></li>
                            <li><a href="/get_surety_bonds_nsurance">Surety Bonds</a></li>
                            <li><a href="/get_umbrella_nsurance">Umbrella</a></li>
                            <li><a href="/get_worker_comp_nsurance">Workers' Comp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-column">
                        <h3>Home, Auto & More</h3>
                        <ul class="footer-list">
                            <li><a href="/get_auto_nsurance">Auto</a></li>
                            <li><a href="/get_life_nsurance">Life</a></li>
                            <li><a href="/get_home_nsurance">Home Insurance</a></li>
                            <li><a href="/get_renter_nsurance">Renters</a></li>
                            <li><a href="#">Home Insurance Floater</a></li>
                            <li><a href="/get_motorcycle_nsurance">Motorcycle, RV, Trailer, Boat</a></li>
                            <li><a href="/get_umbrella_nsurance">Umbrella</a></li>
                            <li><a href="/get_small_group_benefits_nsurance">Small Group Benefits</a></li>
                        </ul>
                    </div>
                </div>
                <!--div class="col-12 col-md-4">
                    <div class="footer-column">
                        <h3>About Us</h3>
                        <p style="padding-right: 32px;">Defy Insurance delivers quality insurance solutions to individuals and businesses in New Jersey and New York. We offer Auto, Homeowners, Recreational Vehicle and Commercial insurance coverage. When it comes to Business Insurance, we specialize in Contractors Insurance, Retail Insurance, Restaurant Insurance, and Commercial General Liability.</p>
                        <div class="social-media">
                            <a><i class="fa fa-facebook"></i></a>
                            <a><i class="fa fa-instagram"></i></a>
                            <a><i class="fa fa-linkedin"></i></a>
                            <a><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="footer-column">
                        <h3>Products</h3>
                        <ul class="footer-list inline-list">
                            <li><a href="<%= base_url %>/liability-coverage">Liability Coverage</a></li>
                            <li><a href="<%= base_url %>/comprehensive-coverage">Comprehensive Coverage</a></li>
                            <li><a href="<%= base_url %>/collision-coverage">Collision Coverage</a></li>
                            <li><a href="<%= base_url %>/uninsured-underinsured-motorist-coverage">Uninsured & Underinsured</a></li>
                            <li><a href="<%= base_url %>/uninsured-underinsured-motorist-coverage">Motorist Coverage</a></li>
                            <li><a href="<%= base_url %>/diminishing-deductible">Diminishing Deductible</a></li>
                            <li><a href="<%= base_url %>/accident-forgiveness">Accident Forgiveness</a></li>
                            <li><a href="<%= base_url %>/minor-violation-forgiveness">Minor Violation Forgiveness</a></li>
                            <li><a href="<%= base_url %>/roadside-assistance">Roadside Assistance</a></li>
                            <li><a href="<%= base_url %>/specialty-auto-insurance">Specialty Auto Insurance</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h3>Insurance</h3>
                        <ul class="footer-list inline-list">
                            <li>Liability Coverage</li>
                            <li>Comprehensive Coverage</li>
                            <li>Collision Coverage</li>
                            <li>Uninsured & Underinsured</li>
                            <li>Motorist Coverage</li>
                            <li>Diminishing Deductible</li>
                            <li>Accident Forgiveness</li>
                            <li>Minor Violation Forgiveness</li>
                            <li>Roadside Assistance</li>
                            <li>Specialty Auto Insurance</li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <ul class="footer-list inline-list">
                            <li><a href="/referal">Refer a Friend</a></li>
                        </ul>
                    </div>
                </div-->

            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-12 col-md-6 text-md-left text-center">
                        Copyright © 2021 Defy Insurance | Powered by Insure Tika
                    </div>
                    <div class="col-12 col-md-6 text-md-right text-center">
                        <a href="#">Privacy</a>
                        <a href="#">Site Map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/web_assets/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/web_assets/assets/js/bootstrap.min.js" type="text/javascript"></script> 
<script type="text/javascript" src="/web_assets/assets/js/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js" type="text/javascript"></script>
<script src="/web_assets/assets/js/custom.js" type="text/javascript"></script>
<script src="/web_assets/assets/js/material-form.js" type="text/javascript"></script>
<script src="/web_assets/assets/js/validation.js" type="text/javascript"></script>
<script src="/web_assets/assets/js/zoho-form-validation.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("a").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 1000, function () {
                    window.location.hash = hash;
                });
            }
        });
    });
</script>