<!DOCTYPE html>
<html lang="en-US">

<head>
    <% include partials/head.ejs%>
</head>

<body>
    <% include partials/header.ejs%>
        <section class="section pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-detail-text">
                            <h1 class="mt-3 mt-md-5 blog_detail_top_heading">
                                <%= blogRes.title %>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= blogRes.duration %></span>
                            </h1>
                            <p class="mb-3 mb-md-5">
                                <%- blogRes.short_description %>
                            </p>
                        </div>
                        <div class="blog-slider-wrapper">
                            <div class="blog-slider">
                                <div>
                                    <div class="card blog-card">
                                        <div class="blog-inner">
                                            <img src="<%= blogRes.image_1 %>" width="100%">
                                        </div>
                                    </div>
                                </div>
                                <% if(blogRes.image_2 != ''){ %>
                                    <div>
                                        <div class="card blog-card">
                                            <div class="blog-inner">
                                                <img src="<%= blogRes.image_2 %>" width="100%">
                                            </div>
                                        </div>
                                    </div>
                                    <% } if(blogRes.image_3 != ''){ %>
                                        <div>
                                            <div class="card blog-card">
                                                <div class="blog-inner">
                                                    <img src="<%= blogRes.image_3 %>" width="100%">
                                                </div>
                                            </div>
                                        </div>
                                        <% } if(blogRes.image_4 != ''){ %>
                                            <div>
                                                <div class="card blog-card">
                                                    <div class="blog-inner">
                                                        <img src="<%= blogRes.image_4 %>" width="100%">
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                            </div>
                        </div>
                        <div class="blog-detail-text">
                            <p>
                                <%- blogRes.description %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section Blog-section pt-0">
            <div class="container">
                <div class="section-header text-center">
                    <h2 class="section-title">Next Blog</h2>
                </div>
                <div class="row about justify-content-center">
                    <% if(blogList != ''){
                    blogList.forEach(function(res, i) { %>
                        <div class="col-lg-4 col-sm-6 text-center">
                            <a href="/blog-details/<%= res.id %>" class="blog-box-outer">
                                <img src="<%= res.image_1 %>" width="100%">
                                <div class="blog-box-text">
                                    <h6><%= res.category %></h6>
                                    <h3><%= res.title %></h3>
                                    <P><%- res.short_description %></P>
                                    <button class="btn btn-primary">READ</button> <span><i class="fa fa-clock-o" aria-hidden="true"></i>  <%= res.duration %></span>
                                </div>
                            </a>
                        </div>
                        <%  })
                    } else{ %>
                            <div class="">
                                <img src="/web_assets/assets/img/no_data.png">
                            </div>
                            <% } %>
                </div>
            </div>
        </section>
        <!-- Footer Ends -->
        <% include partials/footer.ejs%>
</body>

</html>