<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <% include ../partials/header.ejs %>
                <% include ../partials/sidebar.ejs %>
                    <!-- Content Wrapper. Contains page content -->
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1 class="m-0 text-dark">Agents</h1>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item">
                                                <a href="/admin/dashboard">
                                                    <i class="fa fa-tachometer-alt"></i> Dashboard
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item active">Agent</li>
                                        </ol>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Agent</h3>
                                                <a title="Add Blog" href="/admin/agent/add" class="btn btn-info btn-sm float-right">Add Agent</a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <% var messages = getMessages()
                                            if (messages.error_message){ %>
                                                    <div class="alert alert-danger alert-dismissible">
                                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                        <%= messages.error_message %>
                                                    </div>
                                                    <% } if (messages.success_message){ %>
                                                        <div class="alert alert-success alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                            <%= messages.success_message %>
                                                        </div>
                                                        <% } %>
                                                            <table id="blogs_list" class="table table-bordered table-striped dt-responsive nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>First Name</th>
                                                                        <th>Last Name</th>
                                                                        <th>Insurance Type</th>
                                                                        <th>Email</th>
                                                                        <th>Contact Number</th>
                                                                        <th>Policy Number</th>
                                                                        <th>Accident Date</th>
                                                                        <th>carrier</th>
                                                                        <th>description</th>
                                                                        <th>Image</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% result.forEach(function(res, i) { %>

                                                                        <tr>
                                                                            <td>
                                                                                <%= i+1 %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.first_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.last_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.type %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.email %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.phone_number %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.policy_number %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.date %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.com_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%- res.description %>
                                                                            </td>
                                                                            <td>
                                                                                <a href="<%= res.image %>" target="_blank">
                                                                                    <img src="<%= res.image %>" width="60px" height="60px">
                                                                                </a>
                                                                            </td>
                                                                            <% }) %>
                                                                </tbody>
                                                            </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                            </div>
                            <!--/. container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- /.content-wrapper -->
                    <% include ../partials/footer.ejs %>
    </body>

</html>