<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <% include ../partials/header.ejs %>
                <% include ../partials/sidebar.ejs %>
                    <!-- Content Wrapper. Contains page content -->
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1 class="m-0 text-dark">Carriers</h1>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item">
                                                <a href="/admin/dashboard">
                                                    <i class="fa fa-tachometer-alt"></i> Dashboard
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item active">Carrier</li>
                                        </ol>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Carriers</h3>
                                                <a title="Add Blog" href="/admin/addCarrier" class="btn btn-info btn-sm float-right">Add Carriers </a>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <% var messages = getMessages()
                                            if (messages.error_message){ %>
                                                    <div class="alert alert-danger alert-dismissible">
                                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                        <%= messages.error_message %>
                                                    </div>
                                                    <% } if (messages.success_message){ %>
                                                        <div class="alert alert-success alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                            <%= messages.success_message %>
                                                        </div>
                                                        <% } %>
                                                            <table id="blogs_list" class="table table-bordered table-striped dt-responsive nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Carrier Name</th>
                                                                        <th>Carrier Claims Number</th>
                                                                        <th>Carrier Service Number</th>
                                                                        <th>Claim URL</th>
                                                                        <th>Billing URL</th>
                                                                        <th>Website URL</th>
                                                                        <th>Image</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% result.forEach(function(res, i) { %>

                                                                        <tr>
                                                                            <td>
                                                                                <%= i+1 %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.claims_phone_number %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.service_phone_number %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.claim_url %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.billing_url %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.website_url %>
                                                                            </td>
                                                                            <td>
                                                                                <a href="<%= res.Image %>" target="_blank">
                                                                                    <img src="<%= res.Image %>" width="60px" height="60px">
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                <a title="Delete" href="/admin/deleteCarrier/<%= res.id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this carrier?');">
                                                                                    <i class="fas fa-trash">
                                                                                    </i>
                                                                                </a>
                                                                                <a title="Edit" href="/admin/editCarrier/<%= res.id %>" class="btn btn-info btn-sm">
                                                                                    <i class="fas fa-edit">
                                                                                    </i>
                                                                                </a>
                                                                            </td>
                                                                            <% }) %>
                                                                </tbody>
                                                            </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                            </div>
                            <!--/. container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- /.content-wrapper -->
                    <% include ../partials/footer.ejs %>
    </body>

</html>