<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <% include ../partials/header.ejs %>
                <% include ../partials/sidebar.ejs %>
                    <!-- Content Wrapper. Contains page content -->
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1 class="m-0 text-dark">Insurance</h1>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item">
                                                <a href="/referral/dashboard">
                                                    <i class="fa fa-tachometer-alt"></i> Dashboard
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item active">Insurance</li>
                                        </ol>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Insurances</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <% var messages = getMessages()
                                            if (messages.error_message){ %>
                                                    <div class="alert alert-danger alert-dismissible">
                                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                        <%= messages.error_message %>
                                                    </div>
                                                    <% } if (messages.success_message){ %>
                                                        <div class="alert alert-success alert-dismissible">
                                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                            <%= messages.success_message %>
                                                        </div>
                                                        <% } %>
                                                            <table id="users_list" class="table table-bordered table-striped dt-responsive nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Type</th>
                                                                        <th>Frist Name</th>
                                                                        <th>Last Name</th>
                                                                        <th>Email</th>
                                                                        <th>Status</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% var v_type = ''
                                                                    user_result.forEach(function(res, i) {
                                                                        if(res.type == 1)
                                                                            var v_type = "Auto";
                                                                        if(res.type == 2)
                                                                            var v_type = "Home";
                                                                        if(res.type == 3)
                                                                            var v_type = "Business";
                                                                        if(res.type == 4)
                                                                            var v_type = "Work Compensation";
                                                                        if(res.type == 5)
                                                                            var v_type = "Renters";
                                                                        if(res.type == 6)
                                                                            var v_type = "Home Insurance Floater";
                                                                        if(res.type == 7)
                                                                            var v_type = "Motorcycle, RV, Boat";
                                                                        if(res.type == 8)
                                                                            var v_type = "Umbrella";
                                                                        if(res.type == 9)
                                                                            var v_type = "Small Group Benefits";
                                                                        if(res.type == 10)
                                                                            var v_type = "Life";
                                                                        if(res.type == 11)
                                                                            var v_type = "Health care";
                                                                        if(res.type == 12)
                                                                            var v_type = "Accident";
                                                                        if(res.type == 13)
                                                                            var v_type = "Dental";
                                                                        if(res.type == 14)
                                                                            var v_type = "Short-Term Medical";
                                                                        if(res.type == 15)
                                                                            var v_type = "Vision";
                                                                        if(res.type == 16)
                                                                            var v_type = "Medicare";
                                                                        if(res.type == 17)
                                                                            var v_type = "Medical";
                                                                        if(res.type == 18)
                                                                            var v_type = "Commercial Auto";
                                                                        if(res.type == 19)
                                                                            var v_type = "General Liability";
                                                                        if(res.type == 20)
                                                                            var v_type = "Professional Liability";
                                                                        if(res.type == 21)
                                                                            var v_type = "Cyber Insurance";
                                                                        if(res.type == 22)
                                                                            var v_type = "Surety Bonds";
                                                                        if (res.type == 23)
                                                                            var v_type = "Contact Us";
                                                                        if(res.status == 0)
                                                                            var acc_status = '<span class="badge bg-warning">New Request</span>';
                                                                        if(res.status == 1)
                                                                            var acc_status = '<span class="badge bg-success">In Review  Progress</span>'; 
                                                                        if(res.status == 2)
                                                                            var acc_status = '<span class="badge bg-warning">In Communication </span>';
                                                                        if(res.status == 3)
                                                                            var acc_status = '<span class="badge bg-success">Completed</span>';
                                                                        if(res.status == 4)
                                                                            var acc_status = '<span class="badge bg-danger">Rejected</span>';
                                                                    %>
                                                                        <tr>
                                                                            <td>
                                                                                <%= i+1 %>
                                                                            </td>
                                                                            <td>
                                                                                <%= v_type %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.first_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.last_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= res.email %>
                                                                            </td>
                                                                            <td>
                                                                                <%- acc_status %>
                                                                            </td>
                                                                            <td>
                                                                                <a title="Delete" href="/referral/delete_nsurance/<%= res.id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this blog?');">
                                                                                    <i class="fas fa-trash"></i>
                                                                                </a>
                                                                                <a title="View Details" href="/referral/insurance_details/<%= res.id %>" class="btn btn-info btn-sm">
                                                                                    <i class="fas fa-eye"></i>
                                                                                </a>
                                                                                <!-- <span class="dtr-data"><a title="View Details" href="/referral/insurance_details/<%= res.id %>" class="btn btn-info btn-sm">
                                                                                    <i class="fas fa-info-circle">
                                                                                    </i>
                                                                                    View
                                                                                </a></span> -->
                                                                            </td>
                                                                        </tr>
                                                                        <% }) %>
                                                                </tbody>
                                                            </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                            </div>
                            <!--/. container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- /.content-wrapper -->
                    <% include ../partials/footer.ejs %>
    </body>

</html>